
@model IEnumerable<DemoCCM.Models.Link> 
@Scripts.Render("~/Scripts/js_style.js")

     <div class ="space"></div>
          <div class="title_box"> Liên Kết <img id="updow2" src="~/Content/images/2.png" /></div>
             <div class="boxhide2">
                   <ul class="scope">
                      <li> @ViewBag.a</li>
                    </ul>
         </div>
               
               
    

 