@model List<DemoCCM.Models.TopicOfLevel>
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    String a = "";
    
}
 <article class="center_content">
                <div class="space"></div>
                <div class="center_title_bar">@ViewBag.name</div>
                <div class="center_main_content">
                    <ul id="thumbs">
                    @foreach (var e in Model)
                    {
                        a = e.Level.LevelName;
                        string name = e.Topic.TopicImage;
                        if (e.Topic.TopicImage == null) { name = "NoImage.jpg"; }
                        <li>
                            <a href="@Url.Action("Index","ChuDe",new{idTopic=e.TopicID})">
                             
                         @{Html.RenderAction("_ConceptOfTopicPartial", "ChuDe", new { idLevel = e.LevelID });}
                                 <img alt="@e.Topic.ToppicName"  src="~/Photos/concepts/@name" />
                                    <div class="title_thumbs"></div>
                                    <span class="titlebla">@e.Topic.ToppicName </span>
                             </a>
                        </li>
                    }
                </ul>

                </div>
 </article>



